{% extends 'layout.twig' %}

{% import 'Macro/form.twig' as form %}

{% block body %}

<div class="ui container">
    <h1 class="ui center aligned icon header">
        <i class="circular marker teal icon"></i>
        Add point
    </h1>
    <form action="" method="POST" class="ui form error">
        <div class="ui grid">
            <div class="four wide column"></div>
            <div class="eight wide column">
                {{ form.group('name', null, 'name', 'Name') }}
                <div id="locationField">
                    {{ form.group('address', null, 'autocomplete', 'Address') }}
                </div>

                {{ form.group('latitude', null, 'latitude', null, null, 'hidden') }}
                {{ form.group('longitude', null, 'longitude', null, null, 'hidden') }}

                {{ form.group('city', null, 'city', null, null, 'hidden') }}
                {{ form.group('country', null, 'country', null, null, 'hidden') }}

                {{ csrf() }}
                <input type="submit" class="fluid ui teal button" value="Create">
            </div>
        </div>
    </form>
</div>

<script>
    var placeSearch, autocomplete;

    function initAutocomplete() {
        autocomplete = new google.maps.places.Autocomplete(
            (document.getElementById('autocomplete')),
            {types: ['geocode']});
        autocomplete.addListener('place_changed', fillInAddress);
    }


    function fillInAddress() {
        var place = autocomplete.getPlace();
        document.getElementById('latitude').value = place.geometry.location.lat();
        document.getElementById('longitude').value = place.geometry.location.lng();

        for(var i = 0; i < place.address_components.length; i += 1) {
            var addressObj = place.address_components[i];
            for(var j = 0; j < addressObj.types.length; j += 1) {
                if (addressObj.types[j] === 'country') {
                    document.getElementById('country').value = addressObj.long_name;
                } else if (addressObj.types[j] === 'locality') {
                    document.getElementById('city').value = addressObj.long_name;
                }
            }
        }
    }
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAkIJ7rDp2F0J39TH8DRIvqtYHrJx-Zsi8&signed_in=true&libraries=places&callback=initAutocomplete"
        async defer>
</script>

{% endblock %}
