{% extends 'layout.twig' %}

{% import 'Macro/form.twig' as form %}

{% block body %}

<div class="container">
    {% include 'Admin/tabs.twig' with {'tab': 'cities'} %}

    <div class="page-header">
        <h3>Edit city</h3>
    </div>
    <form action="" method="POST">
        <div class="row">
            <div class="col-md-4">
                {{ form.group('name', city.name, 'name', 'Name') }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group{% if has_error('country_id') %} has-error{% endif %}">
                    <label for="country_id">Country</label>
                    <select name="country_id" id="country_id" class="form-control">
                        <option value="">Select a country</option>
                        {% for country in countries %}
                            <option value="{{ country._id }}"{% if city.country_id == country._id %} selected{% endif %}>
                                {{ country.name }}
                            </option>
                        {% endfor %}
                    </select>
                    <span class="help-block">{{ error('country_id') }}</span>
                </div>
            </div>
        </div>
        {{ csrf() }}
        <input type="submit" class="btn btn-primary" value="Create">
    </form>
</div>

{% endblock %}
