<div class="ui teal secondary pointing menu">
    <a href="{{ path_for('admin') }}" class="item{% if tab == 'home' %} active{% endif %}">Points</a>
    <a href="{{ path_for('get_countries') }}" class="item{% if tab == 'countries' %} active{% endif %}">Countries</a>
    <a href="{{ path_for('get_cities') }}" class="item{% if tab == 'cities' %} active{% endif %}">Cities</a>
    <a href="{{ path_for('get_categories') }}" class="item{% if tab == 'categories' %} active{% endif %}">Categories</a>

    <div class="right menu">
        {% if tab == 'countries' %}
            <a href="{{ path_for('add_country') }}" class="ui item">Add country</a>
        {% elseif tab == 'cities' %}
            <a href="{{ path_for('add_city') }}" class="ui item">Add city</a>
        {% elseif tab == 'categories' %}
            <a href="{{ path_for('add_category') }}" class="ui item">Add category</a>
        {% endif %}
    </div>
</div>
