{% extends 'layout.twig' %}

{% import 'Macro/form.twig' as form %}

{% block body %}

<div class="ui container">
    <h1 class="ui center aligned icon header">
        <i class="circular calendar teal icon"></i>
        Add event
    </h1>
    <form action="" method="POST" class="ui form error">
        <div class="two fields">
            {{ form.group('name', null, 'name', 'Name') }}
        </div>

        <div class="field{% if has_error('description') %} error{% endif %}">
            <label for="description">Description</label>
            <textarea name="description" id="description" rows="8"></textarea>
            {% if has_error('description') %}
                <div class="ui error message">
                    <p>{{ error('description') }}</p>
                </div>
            {% endif %}
        </div>

        <div class="two fields">
            {{ form.group('start_date', null, 'start_date', 'Start date') }}
            {{ form.group('end_date', null, 'end_date', 'End date') }}
        </div>
        <div class="two fields">
            {{ form.group('start_time', null, 'start_time', 'Start time') }}
            {{ form.group('end_time', null, 'end_time', 'End time') }}
        </div>

        <div class="two fields">
            {{ form.select('parent_id', events, '_id', 'name', null, 'Select an event', null, 'parent_id', 'Parent event') }}
        </div>

        {{ csrf() }}
        <input type="submit" class="ui teal button" value="Create">
    </form>
</div>

{% endblock %}
