{% extends 'layout.twig' %}

{% import 'Macro/form.twig' as form %}

{% block body %}

<div class="ui container">
    <h1 class="ui center aligned icon header">
        <i class="circular calendar teal icon"></i>
        Edit event
    </h1>
    <h2 class="ui center aligned header">{{ event.name }}</h2>
    <form action="" method="POST" class="ui form error">
        <div class="two fields">
            {{ form.group('name', event.name, 'name', 'Name') }}
        </div>

        <div class="field{% if has_error('description') %} error{% endif %}">
            <label for="description">Description</label>
            <textarea name="description" id="description" rows="8">{{ event.description }}</textarea>
            {% if has_error('description') %}
                <div class="ui error message">
                    <p>{{ error('description') }}</p>
                </div>
            {% endif %}
        </div>

        <div class="two fields">
            {{ form.group('start_date', mongo.dateTime(event.begins_at)|date('d/m/Y'), 'start_date', 'Start date') }}
            {{ form.group('end_date', mongo.dateTime(event.ends_at)|date('d/m/Y'), 'end_date', 'End date') }}
        </div>

        <div class="two fields">
            {{ form.group('start_time', mongo.dateTime(event.begins_at)|date('H:i'), 'start_time', 'Start time') }}
            {{ form.group('end_time', mongo.dateTime(event.ends_at)|date('H:i'), 'end_time', 'End time') }}
        </div>

        <div class="two fields">
            {{ form.select('category_id', categories, '_id', 'name', null, 'Select a category', event.category_id, 'category_id', 'Category') }}
            {{ form.select('point_id', points, '_id', 'name', null, 'Select a location', event.point_id, 'point_id', 'Location of event') }}
        </div>

        <div class="two fields">
            {{ form.select('parent_id', events, '_id', 'name', null, 'Select an event', event.parent_id, 'parent_id', 'Parent event') }}
        </div>

        {{ csrf() }}
        <input type="submit" class="ui teal button" value="Edit">
    </form>
</div>

{% endblock %}
