{% extends 'layout.twig' %}

{% block body %}

<div class="ui container">
    <h1 class="ui center aligned icon header">
        <i class="circular marker teal icon"></i>
        Events
    </h1>
    <h2 class="ui center aligned header">
        <a href="{{ path_for('add_event') }}" class="ui circular yellow button">
            <i class="star icon"></i> Create an event
        </a>
        {% if events is not empty %}
            <a href="" class="ui circular teal button">
                <i class="search icon"></i> I am looking for an event
            </a>
        {% endif %}
    </h2>

    <div class="ui cards">
        {% for event in events %}
            <div class="ui teal card">
                <div class="content">
                    <a href="{{ path_for('get_event', {'id': event._id}) }}" class="header">{{ event.name }}</a>
                    <div class="description">
                        <p>{{ event.description }}</p>
                    </div>
                </div>
                <div class="extra content">
                    <div>
                        <span class="right floated">
                            {{ mongo.dateTime(event.begins_at)|date('d/m/Y') }} at {{ mongo.dateTime(event.begins_at)|date('H:i') }}
                        </span>
                        <span>Start</span>
                    </div>
                    <div>
                        <span class="right floated">
                            {{ mongo.dateTime(event.ends_at)|date('d/m/Y') }} at {{ mongo.dateTime(event.ends_at)|date('H:i') }}
                        </span>
                        <span>End</span>
                    </div>
                </div>
                <div class="extra content">
                    <a href="{{ path_for('edit_event', {'id': event._id}) }}" class="left floated">
                        <i class="edit icon"></i> Edit
                    </a>
                    <a href="{{ path_for('delete_event', {'id': event._id}) }}" class="right floated">
                        Delete <i class="remove icon"></i>
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
