
{% macro group(name, value, id, label, class, type, placeholder) %}
    <div class="field{% if has_error(name) %} error{% endif %}">
        <label for="{{ id }}">{{ label }}</label>
        <input type="{{ type|default('text') }}" name="{{ name }}" value="{{ value }}" id="{{ id }}" class="{{ class }}" placeholder="{{ placeholder }}">
    </div>
    {% if has_error(name) %}
        <div class="ui error message">
            <p>{{ error(name) }}</p>
        </div>
    {% endif %}
{% endmacro %}

{% macro select(name, options, value_key, text_key, default_value, default_text, selected_value, id, label, required) %}
    <div class="field{% if has_error(name) %} error{% endif %}">
        {% if label %}
            <label for="{{ id }}">{{ label }}</label>
        {% endif %}

        <select {{ (required) ? 'required'}} name="{{ name }}" id="{{ id }}">
            {% if default_value or default_text %}
                <option value="{{ default_value }}">{{ default_text }}</option>
            {% endif %}
            {% for option in options %}
                <option value="{{ attribute(option, value_key) }}"{% if selected_value == attribute(option, value_key) %} selected{% endif %}>{{ attribute(option, text_key) }}</option>
            {% endfor %}
        </select>
    </div>
    {% if has_error(name) %}
        <div class="ui error message">
            <p>{{ error(name) }}</p>
        </div>
    {% endif %}
{% endmacro %}
