{% extends 'layout.twig' %}

{% import 'Macro/form.twig' as form %}

{% block body %}

<div class="ui container">
    <div id="map"></div>
    <br>
    <a href="{{ path_for('add_point') }}" class="ui right floated teal button"><i class="plus icon"></i>Add a location</a>

    <div class="ui modal" id="comments-modal">
        <i class="close icon"></i>
        <div class="header" id="modalTitle"></div>
        <div class="content">
            <div id="commentsArea" style="padding-bottom: 3em;"></div>
            <div class="ui divider"></div>
            <form action="{{ path_for('add_comment') }}" method="POST" class="ui form error">
                <div class="two fields">
                    {{ form.group('author', null, 'author', 'Author') }}
                </div>
                <div class="two fields">
                    {{ form.group('comment', null, 'comment', 'Comment') }}
                </div>

                {{ form.group('location', null, 'location', null, null, 'hidden') }}

                {{ csrf() }}
                <button type="submit" class="ui teal labeled icon button"><i class="checkmark icon"></i> Add</button>
            </form>
        </div>
    </div>
</div>

<script>
    function loadComments(comment_id) {
        $.getJSON('./api/comments/' + comment_id).done(function (data) {
            if (!$.trim(data)){
                $('#commentsArea').append($('<h4>').text('It is empty, be the first person to comment!'));
            }else{
                $.each(data, function (index, datum) {
                    var author = $('<div>').addClass('comment-author').text(datum.author + ' said : ');
                    var text = $('<div>').addClass('comment-text').text(datum.comment);
                    var box = $('<div>').addClass('comment-box').append(author).append(text);
                    var container = $('<div>').append(box);
                    $('#commentsArea').append(container);
                });
            }
        }).fail(function () {
            console.log('AJAX Error ! Cannot reach the server ');
        });
    }

    var map;
    function initialize() {
        map = new google.maps.Map(document.getElementById('map'), {
            center: {lat: 55, lng: 0},
            zoom: 2
        });

        {% for point in points %}
        new google.maps.Marker({
            title: '{{ point.name }}',
            position: {lat: {{ point.latitude }}, lng: {{ point.longitude }} },
            map: map
        }).addListener('click', function() {
            $('#modalTitle').text('Comments about {{ point.name }}');
            $('#comments-modal').modal('show');
            $('#location').val('{{ point._id }}');
            $('#commentsArea').empty();
            loadComments('{{ point._id }}');
        });
        {% endfor %}
    }
</script>

<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAkIJ7rDp2F0J39TH8DRIvqtYHrJx-Zsi8&callback=initialize">
</script>

{% endblock %}
