{% extends 'layout.twig' %}
{% import 'Macro/form.twig' as form %}

{% block body %}

<div class="container">

    <div class="jumbotron">
        <h1>Mongo Map</h1>
    </div>

    <div id="map"></div>

    <a href="{{ path_for('add_point') }}" target="_blank">
        <button class="btn btn-success pull-right"> Add a location </button>
    </a>

    <script>
        var map;
        function initialize() {
            map = new google.maps.Map(document.getElementById('map'), {
                center: {lat: 55, lng: 0},
                zoom: 2
            });

            {% for point in points %}
                new google.maps.Marker({
                    title: '{{ point.name }}',
                    position: {lat: {{ point.latitude }}, lng: {{ point.longitude }} },
                    map: map
                }).addListener('click', function() {
                    $('#modalTitle').text('Comments about {{ point.name }}');
                    $('#myModal').modal('show');
                });
            {% endfor %}
        }
    </script>

    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAkIJ7rDp2F0J39TH8DRIvqtYHrJx-Zsi8&callback=initialize">
    </script>


    <!-- Modal -->
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 id='modalTitle' class="modal-title"></h4>
                </div>
                <div class="modal-body">
                    <form action='{{ path_for('add_comment') }}' method='POST' >
                         {{ form.group('author', null, 'author', 'Author') }}
                         {{ form.group('comment', null, 'comment', 'Comment') }}
                         {{ csrf() }}
                        <button type="submit" class="btn btn-success pull-right"><i class="fa fa-check"></i> Add</button>
                    </form>
               </div>
                <div class="modal-footer">

                </div>
            </div>

        </div>
    </div>



</div>


{% endblock %}
